.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 5px;
}

.page-item,
.page-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    color: rgb(158, 158, 158);
    width: 55px;
}

.active{
    font-weight: bold;
}