.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    padding: 0;
    margin: 20px 0;
}

.page-item,
.page-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    height: 36px;
    width: 42px;
    cursor: pointer;
    color: rgb(158, 158, 158);
}

.page-item.active .page-link {
    font-weight: bold;
    color: rgb(0, 5, 13);
    background-color: rgb(158, 158, 158);
    border-radius: 4px;
}